<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
	<mapper namespace="login">
	 
	<!-- 로그인 -->
	<select id="getMemberLogin" parameterType="loginVo" resultType="loginVo">
		SELECT * FROM MEMBER 
		WHERE MEM_ID = #{mem_id} and MEM_PW = #{mem_pw}
	</select>

	<select id="selectById" parameterType="String" resultType="String">
		SELECT MEM_ID
		FROM MEMBER
		WHERE MEM_ID = #{mem_id}
	</select>
	
	<select id="selectByPw" parameterType="String" resultType="String">
		SELECT MEM_PW
		FROM MEMBER
		WHERE MEM_PW = #{mem_pw}
	</select>
	
	<insert id="insertMemberInfo" parameterType="loginVo">
		INSERT INTO MEMBER
		(MEM_ID, MEM_PW, MEM_NAME, MEM_NUM, MEM_MAIL, MEM_TEL, MEM_ADDRNUM, MEM_ADDR1, MEM_ADDR2)
		VALUES
		(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_num}, #{mem_mail}, #{mem_tel}, #{mem_addrnum}, #{mem_addr1}, #{mem_addr2})
	</insert>
	
	<select id="getAddLogin" parameterType="addloginVo" resultType="addloginVo">
		SELECT * FROM ADMIN
		WHERE A_ID = #{a_id} and A_PW = #{a_pw}
	
	</select>
	
	
	</mapper>